#options {
    margin: 0px;
    padding: 0px;
    background: url("../img/2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}



#hotels {
    background-color:  rgba(255, 255, 254, 0.5);
}

h1 {
    color: #2b669a;
    background-color: orange;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 1.5em;
    margin: 0%;
    padding: 0.5% 0% 0.5% 0%;
    text-align: center;
    font-family: "Open Sans",sans-serif;
    font-style: italic;
}

/*
@media (max-width:991px) {
    #callback {position: relative; float: right; margin-right: 10%; padding-left: 0px;}
    #logo {padding: 5%;}
}

@media (max-width:767px) {
    #options {background: none;}
    }

@media (max-width:767px) {
    #header, #callback {display: none;}
    #logo {float: none; width: 120%; text-align: center;}
}

@media (max-width:480px) {
    .col-xs-12 { width: 95%;}
}*/